<!DOCTYPE html>

{% load static %}
{% load naturaltime from humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/chat_detail.css' %}">
    <script src="https://kit.fontawesome.com/adb6ee4607.js" crossorigin="anonymous"></script>
    <title id="tab_name">{{ chat.name }}</title>
</head>
<body>
<input type="hidden" value=0 id="is_new_user">
    {% if request.user not in chat.users.all %}
        {{ chat.password|json_script:"password" }}
        <script>
            const password = JSON.parse(document.getElementById("password").textContent);
            const is_new_user = document.querySelector("#is_new_user");
            if (password) {
                const confirmation = prompt("Введите пароль");
                if (password != confirmation) {
                    alert("Неверный пароль!");
                    window.location.pathname = "/";
                }else {
                    is_new_user.value = 1;
                };
            }else {
                is_new_user.value = 1;
            };
        </script>
    {% endif %}

    <a id="back_to_main_page" href="{% url 'main_page' %}">&#8592;</a>
    <h1 id="title">
        <i id="title_chat">Добро пожаловать в чат "{{ chat.name }}"</i>
        {% if chat.owner_id_id == request.user.id %}
            <a class="action_buttons" href="#createChat"><i class="fas fa-pen"></i></a>
            <a class="action_buttons" onclick="delete_chat()"><i class="fas fa-backspace"></i></a>
        {% else %}
            <a class="action_buttons" onclick="leave_chat()"><i class="fas fa-backspace"></i></a>
        {% endif %}
    </h1>
    <h2 id="auth">Вы вошли как:
        <i><a class="redirect" href="{% url 'user_detail' request.user.username %}">{{ request.user.username }}</a></i>
    </h2>
    <div id="list_users">
        {% for user in chat.users.all %}
            <p id="user_{{ user.username }}">
                <a class="redirect" href="{% url 'user_detail' user.username %}">{{ user.username }}</a>
            </p>
        {% endfor %}
    </div>

    {% if chat_messages %}
    <div class="messages">
        {% for message in chat_messages %}
            {% if message.owner_id %}
                <div id="message" class="{% if request.user.id == message.owner_id_id and message.is_read.count != 1 or request.user.id != message.owner_id_id%}
                                            messages_us
                                         {% else %}
                                            unreaded
                                         {% endif %}"><input type="hidden" value="{{ message.owner_id_id }}">
                    <div class="reply-body">
                        <strong>
                            <a class="username" href="{% url 'user_detail' message.owner_id.username %}">
                                {{ message.owner_id.username }}
                            </a>
                        </strong>
                        <span class="pub_date">{{ message.pub_date|naturaltime }}</span>
                        <p class="text">{{ message.message|linebreaksbr|safe}}</p>
                    </div>
                </div>
            {% else %}
                <p id="user_action">{{ message.message }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
        <div class="messages">
            <p class="no_messages">У вас пока нет сообщений!</p>
        </div>
    {% endif %}

    <div class="panel">
        {% csrf_token %}
        <textarea id="chat-message-input" placeholder="Введите сообщение" required cols="85" rows="3"></textarea>
        <input type="button" id="chat-message-submit" value="Отправить" onclick="send_message()">
    </div>
    {% if request.user.id == chat.owner_id_id %}
        {% include 'main/modal_window.html' %}
    {% endif %}
    {{ chat.slug|json_script:"chat_slug" }}
    <script src="/static/main/js/chat_detail.js"></script>
</body>
</html>