<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello in the chat list!</h1>
    <h2>Вы вошли как: <i><a href="">{{ request.user.get_full_name|default:request.user.username }}</a></i></h2><br>
    <h2>Мои чаты</h2>
    <ul>
        {% for chat in chats %}
            <li>
                <a href="">
                    {{ chat.name }}
                    {% if chat.new_mes %}
                        {{ chat.new_mes }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

<!--    {{ chat_id|json_script:"chat_id" }}-->
<!--    {{ user.pk|json_script:"user_pk" }}-->
    <script src="/static/main/js/main_page.js"></script>
</body>
</html>