<!DOCTYPE html>

{% load static %}
{% load sum_unread_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_page.css' %}">
    <script src="https://kit.fontawesome.com/adb6ee4607.js" crossorigin="anonymous"></script>
    <title>Main page</title>
</head>
<body>
    <h1 id="title">Добро пожаловать в список чатов!</h1>
    <h2 id="auth">Вы вошли как:
        <i><a class="redirect" href="">{{ request.user.get_full_name|default:request.user.username }}</a></i>
    </h2>
    <h2 id="name_of_chats">
        <i>Мои чаты</i>
        <a href="" class="redirect" id="create"><i class="fas fa-plus"></i></a>
    </h2>
    <div id="list_chats">
        {% for chat in my_chats %}
            <p><a class="redirect" href="{{ chat.get_absolute_url }}">
                    {{ chat.name }}
                    {% if chat.set_messages %}
                        ({{ chat.set_messages|sum_unread_messages }})
                    {% endif %}
            </a></p>
        {% endfor %}
    </div>
    <div id="search">
        <p id="search_title">Поиск чата</p>
        <form action="" method="get" class="form">
            <input type="search" class="input" required>
            <button type="submit" class="search_button">
                <span class="fa fa-search"></span>
            </button>
        </form>
    </div>
    <div id="chats_without_me">
        {% for chat in chats_without_me %}
            <div id="{{ chat.id }}" class="chat_without_me">
                <p class="chat_name"><a class="redirect" href="{{ chat.get_absolute_url }}">{{ chat.name }}</a></p>
                <p class="chat_owner_name"><a class="redirect" href="{{ c.users.get_absolute_url }}">{{ chat.owner_id.username }}</a></p>
                <p class="is_password">Частный: <i>{{ chat.is_password }}</i></p>
            </div>
        {% empty %}
            <p id="p5"><i>В данный момент не групп!</i></p>
        {% endfor %}
</body>
</html>