<!DOCTYPE html>

{% load static %}
{% load sum_unread_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_page.css' %}">
    <script src="https://kit.fontawesome.com/adb6ee4607.js" crossorigin="anonymous"></script>
        <title>Главная страница</title>
</head>
<body>
    <h1 id="title">Добро пожаловать в список чатов!</h1>
    <h2 id="auth">Вы вошли как:
        <i><a class="redirect" href="{% url 'user_detail' request.user.username %}">{{ request.user.username }}</a></i>
    </h2>
    <h2 id="name_of_chats">
        <i>Мои чаты</i>
        <a href="#createChat" class="redirect" id="create"><i class="fas fa-plus"></i></a>
    </h2>
    <div id="list_chats">
        {% for chat in my_chats %}
            <p id="chat_{{ chat.id }}"><a class="redirect" href="{{ chat.get_absolute_url }}"
                                          oncontextmenu="deleteChat(event, '{{chat.name}}', '{{chat.id}}', '{{request.user.id}}', '{{chat.owner_id_id}}')">
                    {{ chat.name|truncatechars_html:25 }}
                    {% if chat.set_messages %}
                        ({{ chat.set_messages|sum_unread_messages }})
                    {% endif %}
            </a></p>
        {% endfor %}
    </div>
    <div id="search" class="search_chats">
        <p id="search_title">Поиск чата</p>
        <input type="search" class="input" required>
        <button type="submit" class="search_button">
            <span class="fa fa-search"></span>
        </button>
    </div>
    <div id="chats_without_me">
        {% for chat in chats_without_me %}
            <div class="chat_without_me">
                <p class="chat_name">
                    <a class="redirect" href="{{ chat.get_absolute_url }}">{{ chat.name|truncatechars_html:25 }}</a>
                </p>
                <p class="chat_owner_name">
                    <a class="redirect" href="{% url 'user_detail' chat.owner_id.username %}">
                        {{ chat.owner_id.username|truncatechars_html:15 }}
                    </a>
                </p>
                <p class="is_password">Частный: <i>{% if chat.password %}Да{% else %}Нет{% endif %}</i></p>
            </div>
        {% empty %}
            <p id="no_groups"><i>В данный момент не групп!</i></p>
        {% endfor %}
    </div>
    {% include 'main/modal_window.html' %}
    <script src="/static/main/js/main_page.js"></script>
</body>
</html>